<!-- Llama a la base y demas de bootstrap -->
{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
<!-- Importar macros -->
{%import 'macros.html' as macros %}
<!-- Une los titulos super() llama a la clase principal -->
{% block title %} 
  {{super()}} {# traigo el init del bloque principal de base.html #}
  Bienvenido 
{% endblock%}



<!-- Aqui colocas el bloque que se introduce en base.html -->
{%block content%} 
<!-- Esto es un if -->
  {%if username%}
    <h1>Bienvenido {{username | capitalize}}</h1>
  {%endif%}
  {% if user_ip %}
    <h3>hello world platzi, tu ip es: {{user_ip}}</h3>
  {%else%}
    <a href="{{url_for('index')}}">Ir al inicio</a>
  <!-- Index hace refecencia a '/' -->
  {%endif%}

  <ul>
    {% for todo in todos %} 
      {{macros.render_todo(todo)}} {# Traigo la macros #}
    {% endfor %}
  </ul>
{%endblock%}
