<!-- Llama a la base y demas de bootstrap -->
{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
<!-- Importar macros -->
{%import 'macros.html' as macros %}
<!-- Une los titulos super() llama a la clase principal -->
{% block title %} 
  {{super()}} {# traigo el init del bloque principal de base.html #}
  Bienvenido 
{% endblock%}



<!-- Aqui colocas el bloque que se introduce en base.html -->
{%block content%} 
<section class="hello_container">
  <!-- Esto es un if -->
  {%if username%}
    <h1 class="hello_title">Bienvenid@ {{username | capitalize}}</h1>
    <img src="{{url_for('static',filename='images/Hello.svg')}}" alt="">
  {%endif%}
  {% if user_ip %}
    <h3>Tu Ip es: {{user_ip}}</h3>
  {%else%}
    <a href="{{url_for('index')}}">Ir al inicio</a>
  <!-- Index hace refecencia a '/' -->
  {%endif%}
</section>

  <div class="container">
    <h2>Crear nueva tarea</h2>
    {{wtf.quick_form(todo_form)}}
  </div>
  <ul class="list-group">
    {% for todo in todos %} 
      {{macros.render_todo(todo, delete_form, updateform)}} {# Traigo la macros #}
    {% endfor %}
  </ul>
{%endblock%}
