{% import 'bootstrap/wtf.html' as wtf %}
{% macro render_todo(todo, delete_form, updateform) %}
    <li class="list-group-item">
        <div class="items">
            Tarea: {{todo.to_dict().description}}
            <span class="
                {% if todo.to_dict().done == True %}
                    Babge-finish
                {%else%}
                    badge
                {%endif%}
                ">
                {% if todo.to_dict().done == True %}
                    finish
                {%else%}
                    to-do
                {%endif%}
            </span>
        </div>

        <div class="options">
            {{wtf.quick_form(delete_form, action = url_for('delete',todo_id = todo.id), extra_classes='btn-delete')}}
            {{wtf.quick_form(updateform, action = url_for('update',todo_id = todo.id, done = todo.to_dict().done), extra_classes='btn-update')}}
        </div>
    </li>
{%endmacro%}


{%macro error_page(img, message,error_code)%}
    <section class="error">
        <img class="error_img--size" src="{{url_for('static',filename=img)}}" alt="imagen error">
        <h1>{{message}}</h1>
        <p>{{error_code}}</p>
    </section>
{%endmacro%}